<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo estudiante</title>
</head>
<body>
    <h1>Agregar nuevo estudiante</h1>
    <form th:action="@{/save}" th:object="${student}" method="POST">
        
        <label>Nombre</label>
        <input type="text" th:field="*{name}">
        <span th:errors="*{name}" style="color:#e81505"></span>

        <label>Apellido</label>
        <input type="text" th:field="*{lastName}">
        <span th:errors="*{lastName}" style="color:#e81505"></span>

        <label>Edad (No menor a 18)</label>
        <input type="number" th:field="*{age}">
        <span th:errors="*{age}" style="color:#e81505"></span>

        <label>Activo</label>
        <input type="radio" th:field="*{state}" th:value="${true}">

        <label>Inactivo</label>
        <input type="radio" th:field="*{state}" th:value="${false}">

        <input type="submit" value="Guardar">
        
    </form>
</body>
</html>